server:
  port: ${USER_SERVICE_PORT}

spring:
  application:
    name: user-service

  jackson:
    visibility:
      field: any

  datasource:
    url: ${USER_DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 60000
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  threads:
    virtual:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}

app:
  jwt-secret: ${JWT_SECRET_KEY}


logging:
  pattern:
    console: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] %m%n"

# ----------------------------------------------------------------
# MANAGEMENT, ACTUATOR, & TRACING CONFIGURATION
# ----------------------------------------------------------------
management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: "*"  # Exposes all endpoints (metrics, beans, mappings, etc.)
    endpoint:
      health:
        show-details: always

  zipkin:
    tracing:
      endpoint: ${ZIPKIN_BASE_URL:http://zipkin:9411}/api/v2/spans